* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Poppins;
}

header {
    background-color: black;
    padding: 0 165px;
    border-bottom: 0.5px solid rgba(86, 178, 128, .2);
}

section {
    padding: 0 165px;
}

.bloc_hero {
    background-image: url(/PROJET_M1/asset/background_banner.jpeg);
    background-position-x: 80%;
    background-position-y: 100%;
    background-repeat: no-repeat;
    background-size: 100%;
    position: relative;
    color: white;
    height: 100vh;
}

.bloc_hero_text {
    display: flex;
    text-align: center;
    flex-direction: column;
    align-content: center;
    align-items: center;
    margin-bottom: 5%;
}

.bloc_hero_container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}

nav a {
    text-decoration: none;
    color: white;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 21px 0;
    align-items: center;
}

nav ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
}

nav ul li a {
    padding-right: 15px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}

h1 {
    font-size: 50px;
    font-weight: bold;
    padding-bottom: 5px;
}

.bloc_hero_text p {
    font-size: 16px;
    font-weight: medium;
    padding-bottom: 25px;
}

.bloc_hero_text a {
    font-size: 20px;
    text-decoration: none;
    color: #FFFFFF;
    background: #719986;
    border-radius: 64px;
    padding: 8px 44px;
}

.bloc_products {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FFFFFF;
   padding-top: 90px;
   padding-bottom: 90px;
}

.bloc_products_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    margin: 60px 0;
}

.bloc_products_content {
    display: flex;
    flex-direction: column;
    padding: 26px;
    padding-bottom: 16px;
    background-color: #FFFFFF;
    box-shadow: 0px 4px 24px 0px rgba(123, 123, 123, 0.15);
}

.bloc_products_content p:last-child {
    text-align: right;
}

.bloc_products_content img {
    width: 203px;
}